{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
  %}
  <br/>
  <form method="POST">
    <h3 align="center" style='letter-spacing:2px'>Login</h3>
    <hr>
    <br/>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Enter password"
      />
    </div>
    <button type="submit" style='background-color:#217b7e;color:white' class="btn">Login</button>
    <hr>
  </form>
  {% endblock %}